---
layout: default
---
<div class="post">
  
  <div class="link-home"><a href="/" class="link-home glyphicon glyphicon-home"></a></div>
  <h1 class="post-title">{{ page.title }}</h1>
  
  <p class="post-meta">{{ page.date | date: "%Y-%m-%d" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>

  <article class="post-content">
    {{ content }}
  </article>

  {% if page.origSource %}
  <div class="foot-notes">
    <p>Ce post a été publié pour la première fois sur <a href="{{ page.origUrl }}">{{ page.origSource }}.</a></p>
  </div>
  {% endif %}

</div>
